
<li class="nav-item">
    <%= link_to 'Go Online', root_path, class: 'nav-link state-btn mx-3 py-1 btn btn-outline-success' %>
</li>
<li class="nav-item">
    <%= link_to 'Sign Up', signup_path, class: 'nav-link signup-btn btn btn-success py-1 mx-3' %>
</li>
<li class="nav-item">
    <%= link_to 'Log In', login_path, class: 'nav-link mx-3' %>
</li>