<div class="dev-card p-3 my-3 text-center">
    <img src="assets/avatar5.jpeg" alt="">
    <h6 class="dev-name text-white">Frederic Mbea</h6>
    <h6 class="dev-level">Senior</h6>
    <div class="dev-icons">
        <a class="github-icon m-2" href="#"><i class="fab fa-github-square"></i></a>
        <a class="camera-icon m-2" href="" data-toggle="tooltip" data-placement="top" title="Start a video chat"><i class="fas fa-video"></i></a>
    </div>
</div>